.heading {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px; /* added spacing below the heading */
}

.about_me_left {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    width: 50%;
    margin-left: 25%;
    line-height: 1.6; /* better line spacing */
}



.about_me {
    text-align: center;
    margin: 16% auto -5% auto;
}
